body {
    background-color: beige;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.color-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.color-item.yellow:hover {
    color: yellow;
    cursor: pointer;
}

.color-item.red:hover {
    color: red;
    cursor: pointer;
}

.color-item.blue:hover {
    color: blue;
    cursor: pointer;
}

.color-item.green:hover {
    color: green;
    cursor: pointer;
}

.color-item.black:hover {
    color: black;
    cursor: pointer;
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-right: 20px;
}
